{
	# 全局日志配置
	log {
		output file /var/log/caddy/access.log
		format json
	}
}

sunwei.xyz {
	root * /root/web/sunwei-xyz-raw
	file_server
}

notes.sunwei.xyz {
	root * /root/web/sunwei-xyz-raw/notes
	file_server
}

# 子域名配置，将所有请求转发到 127.0.0.1:1314
mdfriday.sunwei.xyz {
    reverse_proxy 127.0.0.1:1314 {
        transport http {
            versions 1.1
            read_timeout 30s
            write_timeout 30s
        }
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
        header_down -Content-Encoding
        flush_interval -1
    }
}
