{
	# 全局日志配置
	log {
		output file /var/log/caddy/access.log
		format json
	}
}

sunwei.xyz {
	root * /root/web/sunwei-xyz-raw
	file_server
}

notes.sunwei.xyz {
	root * /root/web/sunwei-xyz-raw/notes
	file_server
}

# 子域名配置，将所有请求转发到 127.0.0.1:1314
mdfriday.sunwei.xyz {
    # 添加响应头处理
    header {
        -Content-Encoding
        -Transfer-Encoding
    }
    
    # 简单的反向代理配置
    reverse_proxy 127.0.0.1:1314 {
        header_up Host 127.0.0.1:1314
    }
}
